<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vpclub.how2j.springboot.mybatis.xml.mapper.CategoryMapper">

    <!--获得分类信息列表-->
    <select id="findAll" resultType="cn.vpclub.how2j.springboot.mybatis.xml.entity.Category">
      select * from category_
    </select>

</mapper>